body > header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  background-color: transparent;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  margin-top: 120px;
}

@media only screen and (min-width: 960px) {
  body > header{
    margin-top: 0x;
    width: 60%;
    margin-bottom: auto;
  }
}