header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: inherit;
  position: inherit;
  background-color: transparent;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  padding: 1.5em
}