i:hover{
  background-color: inherit;
  color: goldenrod;
}

.new-tweet-thoughts {
  ('new-tweet-thoughts').submit(function(){
    event.preventDefault()
    
  })
}

article{
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  margin-top: 10px;
}

article > header{
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

article > header > div{
  display: flex;
}

.tweets img{
  display: flex;
  height: 45px;
  width: 45px;
  align-self: center;
  margin-right: 10px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: smaller;
  border-top: 2px solid black;
  margin: 0 10px 0 10px;
}

.days-ago{
  justify-content: flex-start;
}

.social-media{
  justify-content: flex-end;
}

.content{
  margin-left: 22px;
}